.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;
}
.heading {
  font-size: 1.5rem;
  font-weight: 700;
}
.subHeading {
  font-size: 0.7rem;
  font-weight: 500;
  margin-top: 0.3rem;
  color: var(--font-gray-dark);
}
.featureCardWrapper {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.card {
  width: 15rem;
  /* height: 15rem; */
  margin-left: 1rem;
  margin-top: 1rem;
  background: #f3f4f6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}
.iconWrapper {
  width: 2.2rem;
  height: 2.2rem;
  background: #3b82f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 50%;
  color: white;
}
.cardHeading {
  font-size: 0.8rem;
  margin-top: 1rem;
  font-weight: 500;
  color: var(--font-gray-dark);
}
.cardSubHeading {
  font-size: 0.6rem;
  font-weight: 500;
  color: var(--font-gray-light);
  margin-top: 0.5rem;
  text-align: center;
}
